.joinUs {
  background-image: url("../src/assets/joinUs.jpg");
  background-size: cover; /* Make sure the image covers the entire container */
  background-attachment: fixed; /* This is the key property for the parallax effect */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
  width: 100%; /* Ensure the container takes the full width of its parent */
  height: 400px; /* Set the height of the container */
}
.herosection {
  background-image: url("../src/assets/joinUs.jpg");
  background-size: cover; /* Make sure the image covers the entire container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-attachment: fixed; /* This is the key property for the parallax effect */
  background-position: center; /* Center the background image */
  max-width: 100%; /* Ensure the container takes the full width of its parent */
  max-height: 100%; /* Set the height of the container */
}
